.right {
  outline: 3px solid green;
}

.wrong {
  outline: 3px solid red;
}

ol,
ul {
	padding: 20px;
	border: 1px solid hotpink;
}

.bg {
	background-color: blueviolet;
}

li {
	padding: 20px;
	border: 1px solid skyblue;
}

p {
	padding: 20px;
	border: 1px solid khaki;
}

td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	text-align: center;
}

.bg {
	background-color: hotpink;
}

#form {
	max-width: 250px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

label {
	display: flex;
	justify-content: space-between;
}

.text {
	text-decoration: line-through;
}

span {
	margin-right: 20px;
}

.hidden {
	display: none;
}

.color1 {
	background: white;
}
.color2 {
	background: green;
}
.color3 {
	background: red;
}
.color4 {
	background: yellow;
}
.color5 {
	background: blue;
}

